.menu {
	width: 100%;
}
#menubar ul{
	display: none;
	background-color: #100820;
	position: absolute;
	top: 100%;
}
#menubar li:hover ul { display: block; }
#menubar, #menubar ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#menubar {
	height: 30px;
	background-color: #080010;
	padding-left: 25px;
	min-width: 470px;
}
#menubar li {
	float: left;
	position: relative;
	height: 100%;
}
#menubar li a {
	display: block;
	padding: 6px;
	width: 100px;
	color: #fff;
	text-decoration: none;
	text-align: center;
}
#menubar ul li { float: none; }
#menubar li:hover { background-color: #100820; }
#menubar ul li:hover { background-color: #181030; }
